@model Blog.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <style>
        .indent {
            margin-top: 8%;
            float: none
        }
    </style>
</head>
<body>
    <h1 class="indent text-center text-dark">Registration</h1>
    <div class="text-center ">
        <form action="/" method="post">
            <label asp-for="Email"></label>
            <p><span asp-validation-for="Email"></span></p>
            <p><input type="text" name="Email" /></p>
            <label asp-for="Name"></label>
            <p><span asp-validation-for="Name"></span></p>
            <p><input type="text" name="Name" /></p>
            <label asp-for="Password"></label>
            <p><span asp-validation-for="Password"></span></p>
            <p><input type="text" name="Password" /></p>
            <p><input type="submit" asp-controller="User" asp-action="Register" value="Register" class="btn btn-outline-dark" /></p>
        </form>
    </div>
</body>
</html> 