@{
    var name = ViewBag.Message;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        About me!
    </title>
    <style>
        .position {
            margin-left: 85%
        }

        .NameUser {
            margin-left: 90%; 
            margin-block: 15px;
            float: left;
        }
    </style>
</head>
<body>
    @section Header{
        <div class="NameUser">
            @name
            <a asp-controller="UserProfile" asp-action="UserProfile">Profile</a>
        </div>
    }
</body>
</html>