@{
    var name = ViewBag.Message;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blog</title>
    <style>
        .NameUser {
            margin-left:90%
        }
    </style>
</head>
<body>
    <div>
        <a asp-action="MainPage">Main Page</a>
    </div>
    <div class="NameUser">
        @name.Name
        <a href="#">Add new post</a>
    </div>
</body>
</html>