<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #header
        {
            width: auto;
            height:70px;
            background-color: #a058d1;
        }
        .gradient {
            background: #576284;
            background: -webkit-linear-gradient(to right, #576284, #b770a0);
            background: linear-gradient(to right, #576284, #b770a0);
        }
                  
    </style>
</head>
<body class="gradient">
    <div id="header">
        @RenderSection("Header", false)
    </div>
    @RenderBody()
</body>
</html>
